.icoFaceBook, .icoInstagram, .icoLinkedin{
    color: white;
}

.icoFaceBook:hover{
    color: #3b5998
}

.icoInstagram:hover{
    color:#c13584
}

.icoLinkedin:hover{
    color: #0072b1;
}

.social-network{
    list-style: none;
    padding: 0;
}

.social-network > li{
    display: inline;
    padding: 5px;
    font-size: 25px;
    margin: 0;
}